name: build and test on pull request
on: push
#  pull_request:
#    branches: [main]
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up JDK 8 for x64
        uses: actions/setup-java@v4
        with:
          java-version: "8"
          distribution: "temurin"
          architecture: x64
      - run: mvn package -Dmaven.wagon.http.ssl.insecure=true -Dmaven.wagon.http.ssl.allowall=true
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v4
        with:
          name: Package
          path: staging
